body {
  font-family: Arial, sans-serif;
  background-color: #f20a0a;
  color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

#countdown {
  font-size: 2em;
  margin-top: 20px;
}
